gevent==20.6.1
greenlet==0.4.16
grequests==0.6.0
idna<3,>=2.5
requests==2.23.0
ply==3.11
psutil==5.8.0
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.2.1
setuptools==39.0.1
tzlocal==2.1
pyOpenSSL==19.0.0
cryptography==3.3.2
watchdog-gevent==0.1.1
wheel==0.30
