[
    {
        "name": "DCHD.WTgt (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 65,
        "description": "Charge/Discharge Active Power Target (output)",
        "scaling_multiplier": 1,
        "units": "%",
        "fcodes": ["direct_operate"],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 90
        }
    },
    {
        "name": "DCHD.WTgt (in)",           # Echo of group 41 variation 1 index 65
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 90,
        "description": "Charge/Discharge Active Power Target (input)",
        "scaling_multiplier": 1,
        "units": "%",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.WinTms (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 66,
        "description": "Charge/Discharge Time Window (output)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "fcodes": ["direct_operate"],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 91
        }
    },
    {
        "name": "DCHD.WinTms (in)",         # Echo of group 41 variation 1 index 66
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 91,
        "description": "Charge/Discharge Time Window (input)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.RmpTms (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 67,
        "description": "Charge/Discharge Ramp Time. Ramp time, in seconds, for moving from current operational mode settings to new operational mode settings (output)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "fcodes": [],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 92
        }
    },
    {
        "name": "DCHD.RmpTms (in)",         # Echo of group 41 variation 1 index 67
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 92,
        "description": "Charge/Discharge Ramp Time. Ramp time, in seconds, for moving from current operational mode settings to new operational mode settings (input)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.RevtTms (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 68,
        "description": "Charge/Discharge Reversion Timeout Period (output)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "fcodes": ["direct_operate"],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 93
        }
    },
    {
        "name": "DCHD.RevtTms (in)",        # Echo of group 41 variation 1 index 68
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 93,
        "description": "Charge/Discharge Reversion Timeout Period (input)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.RmpUpRte (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 69,
        "description": "Charge/Discharge Discharge Ramp Up Rate (output)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "fcodes": ["direct_operate"],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 94
        }
    },
    {
        "name": "DCHD.RmpUpRte (in)",       # Echo of group 41 variation 1 index 69
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 94,
        "description": "Charge/Discharge Discharge Ramp Up Rate (input)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.RmpDnRte (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 70,
        "description": "Charge/Discharge Discharge Ramp Down Rate (output)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "fcodes": ["direct_operate"],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 95
        }
    },
    {
        "name": "DCHD.RmpDnRte (in)",       # Echo of group 41 variation 1 index 70
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 95,
        "description": "Charge/Discharge Discharge Ramp Down Rate (input)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.ChaRmpUpRte (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 71,
        "description": "Charge/Discharge Charge Ramp Up Rate (output)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "fcodes": [],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 96
        }
    },
    {
        "name": "DCHD.ChaRmpUpRte (in)",    # Echo of group 41 variation 1 index 71
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 96,
        "description": "Charge/Discharge Charge Ramp Up Rate (input)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.ChaRmpDnRte (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 72,
        "description": "Charge/Discharge Charge Ramp Down Rate (output)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "fcodes": [],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 97
        }
    },
    {
        "name": "DCHD.ChaRmpDnRte (in)",    # Echo of group 41 variation 1 index 72
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 97,
        "description": "Charge/Discharge Charge Ramp Down Rate (input)",
        "scaling_multiplier": 1,
        "units": "Seconds",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.VArAct (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 10,
        "description": "Charge/Discharge VAr Action.  Action to take when switching between charging and discharging: 0. Reserved; 1. Reverse producing/absorbing Vars when changing between charging and discharging (go to diagonal quadrant Q1/Q3 or Q2/Q4); 2. Do not reverse producing/absorbing Vars (go to adjacent quadrant Q1/Q2 or Q3/Q4) (output)",
        "scaling_multiplier": 1,
        "units": "n/a",
        "fcodes": [],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 98
        }
    },
    {
        "name": "DCHD.VArAct (in)",         # Echo of group 41 variation 1 index 10
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 98,
        "description": "Charge/Discharge VAr Action.  Action to take when switching between charging and discharging: 0. Reserved; 1. Reverse producing/absorbing Vars when changing between charging and discharging (go to diagonal quadrant Q1/Q3 or Q2/Q4); 2. Do not reverse producing/absorbing Vars (go to adjacent quadrant Q1/Q2 or Q3/Q4) (input)",
        "scaling_multiplier": 1,
        "units": "n/a",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.ModPrty (out)",
        "group": 41,                        # Analog Output
        "variation": 1,                     # 32-bit integer command
        "index": 9,
        "description": "Charge/Discharge Mode Priority (output)",
        "scaling_multiplier": 1,
        "units": "n/a",
        "fcodes": [],
        "echo": {
            "group": 30,
            "variation": 1,
            "index": 99
        }
    },
    {
        "name": "DCHD.ModPrty (in)",        # Echo of group 41 variation 1 index 9
        "group": 30,                        # Analog Input
        "variation": 1,                     # 32-bit integer with flag
        "index": 99,
        "description": "Charge/Discharge Mode Priority (input)",
        "scaling_multiplier": 1,
        "units": "n/a",
        "event_class": 2,
        "event_group": 32,
        "event_variation": 3                # 32-bit integer with time
    },
    {
        "name": "DCHD.ModEna",
        "group": 12,                        # Binary Output Command
        "variation": 1,                     # Control Relay Output Block (CROB)
        "index": 5,
        "description": "Enable (output)",
        "scaling_multiplier": 1,
        "units": "n/a",
        "fcodes": ["select", "operate"]
    }
]