{
    "driver_config": {
        "device_address": "192.168.100.",
        "channel_1": {
            "name": "condenser",
            "multiplier": 2
        },
        "channel_2": {
            "name": "ahu",
            "multiplier": 2
        }
    },
    "driver_type": "candidus",
    "interval": 10,
    "timezone": "UTC"
}