{
    "connection": {
        "type": "mongodb",
        "params": {
            "host": "localhost",
            "port": 27017,
            "database": "mongo_test",
            "user": "test",
            "passwd": "test"
        }
    },
    "aggregations":[
        {
        "aggregation_period": "1d",
        "use_calendar_time_periods": false,
        "utc_collection_start_time":"2016-03-01T01:15:01.000000",
        "points": [
            {
             "topic_names": ["PNNL/SEB/AHU1/VAV123A/ZoneDischargeAirTemperature",
                             "PNNL/SEB/AHU1/VAV123A/ZoneTemperature"],
             "aggregation_topic_name":"topic_list",
             "aggregation_type": "sum",
             "min_count": 2
            }
        ]
        }
    ]
}