{
    "connection": {
        "type": "mongodb",
        "params": {
            "host": "vc-db1.pnl.gov",
            "port": 27017,
            "database": "historian_dev2",
            "user": "hdev",
            "passwd": "",
            "authSource": "admin"
        }
    },
    "aggregation_period": "3m",
    "use_calendar_time_periods": "true",
    "utc_collection_start_time":"2016-03-02T00:00:00.000000",
    "points": [
     {
         # ZoneTemperature
         "topic_name_pattern":
             "PNNL/SEB/AHU1/VAV127A/ZoneTemperature$",
         "aggregation_topic_name":
             "PNNL/SEB/AHU1/VAV127A/zonetemp_aggregate",
         "aggregation_type": "sum",
         "min_count": 2
     },
     {
         # PNNL/SEB/AHU1/VAV127A/ZoneAirFlow
         "topic_name_pattern":
             "PNNL/SEB/AHU1/VAV127A/ZoneAirFlow$",
         "aggregation_topic_name":
             "PNNL/SEB/AHU1/VAV127A/zone_air_flow_agg",
         "aggregation_type": "sum",
         "min_count": 2
     }
    ]
}