.*.sw?
*.py[co]
*.egg-info
*~
.vagrant/
.svn
.metadata
parser.out
node_modules
applications
.cache
.idea
.vscode/
/env/
/Agents/*/{build,dist}/
/Agents/*.egg
/.project
/.pydevproject
/twistd.pid
/.settings
/build
/configs/
/config/
/docs/build/*
/docs/source/volttron_api
volttron.log
__pycache__
.python-version
.pytest_cache
start-rabbitmq
stop-rabbitmq
rabbitmq.log
