language: python2.7

# Each array entry will execute 1 job.
env:
  - NUM_PROCESSES=10 CI="travis"

services:
  - docker

script: ci-integration/run-test-docker.sh

notifications:
  slack: volttron-team:EgnBsUcQ98b75kU59tV8TnEa

