bacpypes==0.16.4
enum34==1.1.6
funcsigs==1.0.2
gevent==1.1.2
greenlet==0.4.10
monotonic==1.2
pbr==1.10.0
ply==3.9
psutil==4.3.1
pymodbus==1.2.0
pyserial==3.1.1
python-dateutil==2.5.3
pytz==2016.6.1
pyzmq==15.4.0
requests==2.11.1
grequests==0.3.0
simplejson==3.8.2
six==1.10.0
Twisted==16.4.1
tzlocal==1.2.2
ujson==1.35
ws4py==0.3.5
zope.interface==4.3.2
modbus-tk==0.5.8
PyYAML==3.12
