bacpypes==0.13.8
gevent==1.1.2
greenlet==0.4.10
monotonic==1.2
ply==3.9
psutil==4.3.1
pymodbus==1.2.0
pyserial==3.1.1
python-dateutil==2.5.3
pytz==2016.6.1
pyzmq==14.7.0
requests==2.11.1
simplejson==3.8.2
six==1.10.0
Twisted==16.4.1
tzlocal==1.2.2
ws4py==0.3.5
zope.interface==4.3.2
