<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <div id="top_menu">
        <ul>
            <li><a href="/certs">List x509 Certificates</a></li>
            <li><a href="/certs/create">Create Certificate</a></li>
            <li><a href="/csr/create">Create CSR Request</a></li>
            <li><a href="/csr/pending">Pending CSR Requests</a></li>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>