{
    "driver_type": "fakedriver",
    "driver_config": {},
    "publish_breadth_first_all": false,
    "publish_depth_first": false,
    "publish_breadth_first": false,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat",
    "interval": 60.0,
    "registry_config": "config://fake.csv"
}
