{
    "driver_config": {
        "username": "",
        "password": "",
        "macid": "",
        "address": "http://192.168.x.x/cgi-bin/post_manager"
    },
    "campus": "campus",
    "building": "building",
    "unit": "eagle",
    "driver_type": "rainforesteagle",
    "registry_config": "config://eagle.json",
    "interval": 10,
    "timezone": "US/Pacific"
}
