{
    "driver_type": "fakedriver",
    "driver_config": {},
    "publish_breadth_first_all": false,
    "publish_depth_first": false,
    "publish_breadth_first": false,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat",
    "campus": "fakecampus",
    "unit": "fakedriver0",
    "building": "fakebuilding",
    "interval": 5.0,
    "registry_config": "/home/vdev/git/volttron/applications/pnnl/FakeDrivenMatlabAgent/tests/test_fake.csv"
}
