{
    "driver_config": {"device_address": "10.70.151.246",
                      "slave_id": 1,
		              "port": 1025},
    "campus": "PNNL",
    "building": "BESS",
    "unit": "BOARD",
    "driver_type": "modbus",
    "registry_config":"config://bess_modbus.csv",
    "interval": 5,
    "timezone": "Pacific"
}
