{
    # VTN server parameters: Kisensum VTN server on AWS host
    #
    "ven_id": "0",
    "ven_name": "ven01",
    "vtn_id": "vtn01",
    "vtn_address": "http://openadr-vtn.ki-evi.com:8000",
    #
    # VTN server parameters: Kisensum VTN server on localhost
    #
    # "ven_id": "0",
    # "ven_name": "ven01",
    # "vtn_id": "vtn01",
    # "vtn_address": "http://localhost:8000",
    #
    # VTN server parameters: EPRI VTN server on AWS host
    #
    # "ven_id": "919a1dfa088fe14b79f9",
    # "ven_name": "ven_01",
    # "vtn_id": "EPRI_VTN",
    # "vtn_address": "http://openadr-vtn.ki-evi.com:8080",
    #
    # Other VEN parameters
    #
    "db_path": "$VOLTTRON_HOME/data/openadr.sqlite",
    "send_registration": "False",
    "security_level": "standard",
    "poll_interval_secs": 15,
    "log_xml": "False",
    "opt_in_timeout_secs": 3600,
    "opt_in_default_decision": "optOut",
    "request_events_on_startup": "False",
    #
    # VEN reporting configuration
    #
    "report_parameters": {
        "telemetry": {
            "report_name": "TELEMETRY_USAGE",
            "report_name_metadata": "METADATA_TELEMETRY_USAGE",
            "report_specifier_id": "telemetry",
            "report_interval_secs_default": "30",
            "telemetry_parameters": {
                "baseline_power_kw": {
                    "r_id": "baseline_power",
                    "report_type": "baseline",
                    "reading_type": "Direct Read",
                    "units": "powerReal",
                    "method_name": "get_baseline_power",
                    "min_frequency": 30,
                    "max_frequency": 60
                },
                "current_power_kw": {
                    "r_id": "actual_power",
                    "report_type": "reading",
                    "reading_type": "Direct Read",
                    "units": "powerReal",
                    "method_name": "get_current_power",
                    "min_frequency": 30,
                    "max_frequency": 60
                }
            }
        },
        "telemetry_status": {
            "report_name": "TELEMETRY_STATUS",
            "report_name_metadata": "METADATA_TELEMETRY_STATUS",
            "report_specifier_id": "telemetry_status",
            "report_interval_secs_default": "300",
            "telemetry_parameters": {
                "status": {
                    "r_id": "Status",
                    "report_type": "x-resourceStatus",
                    "reading_type": "x-notApplicable",
                    "units": "",
                    "method_name": "",
                    "min_frequency": 60,
                    "max_frequency": 120
                }
            }
        }
    }
}
