{
    "driver_config": {"device_address": "127.0.0.1", "port":5020},
    "campus": "campus",
    "building": "building",
    "unit": "modbus1",
    "driver_type": "modbus",
    "registry_config":"/home/volttron/Docs/design-docs/voltron master modbus agent registers.csv",
    "interval": 5,
    "timezone": "UTC",
    "heart_beat_point": "ESMMode"
}