{
    "driver_config": {"device_address": "127.0.0.1", "port":5020},
    "campus": "Shirley-MA",
    "building": "North",
    "unit": "PMC",
    "driver_type": "modbus",
    "registry_config":"/home/volttron/volttron/services/core/MasterDriverAgent/master_driver/modbus1.json",
    "interval": 5,
    "timezone": "UTC",
}