{
    "driver_config": {"device_address": "127.0.0.1", "port":5021},
    "campus": "Shirley-MA",
    "building": "South",
    "unit": "PMC",
    "driver_type": "modbus",
    "registry_config":"/home/volttron/Docs/design-docs/SOUTH.csv",
    "interval": 5,
    "timezone": "UTC",
    "publish_breadth_first_all":false,
    "publish_depth_first":false,
    "publish_breadth_first":false
}