{
    "driver_config": {"device_url": "http://10.10.47.12/tstat", "device_address" : "device1"},
    "campus": "esif",
    "building": "spl",
    "unit": "THERMOSTAT_1",
    "driver_type": "radiothermostat",
    "registry_config": "/home/parallels/Desktop/dvaidhyn_pnnl/volttron/services/core/MasterDriverAgent/master_driver/thermostat_points.csv",
    "interval": 20,
    "timezone": "UTC"
}
