{
    "driver_config": {"device_address": "device1"},
    "campus": "esif",
    "building": "spl",
    "unit": "THERMOSTAT_1",
    "driver_type": "radiothermostat",
    "registry_config": "/home/parallels/Desktop/dvaidhyn_pnnl/volttron/services/core/MasterDriverAgent/master_driver/thermostat_points.csv",
    "interval": 6000,
    "timezone": "UTC"
}
