{
    "driver_config": {},
    "campus": "campus",
    "building": "building",
    "unit": "fake_device",
    "driver_type": "fakedriver",
    "registry_config":"/home/volttron/git/volttron/services/core/MasterDriverAgent/master_driver/fake.csv",
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}