{
    "driver_config": {"device_address": "130.20.116.14"},
    "campus": "campus",
    "building": "building",
    "unit": "modbus1",
    "driver_type": "modbus",
    "registry_config":"/home/kyle/workspaces/volttron/volttron/drivers/catalyst371.csv",
    "interval": 5,
    "timezone": "UTC",
    "heart_beat_point": "ESMMode"
}