{
    "driver_config": {
        "sfdi": "111576577659",
        "sep2_agent_id": "sep2agent"
    },
    "campus": "campus",
    "building": "building",
    "unit": "sep2",
    "driver_type": "sep2",
    "registry_config": "config://sep2.csv",
    "interval": 15,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}