{
    "driver_config": {},
    "campus": "campus",
    "building": "building",
    "unit": "c_device",
    "driver_type": "cdriver",
    "registry_config":"/home/mike/volttron/examples/CAgent/c_agent/cdriver.csv",
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}