{
	"watch_max": [
		{
			"topic": "datalogger/log/platform/cpu_percent",
			"threshold": 99,
			"message": "CPU usage ({topic}) exceeded threshold ({threshold} percent)",
			"enabled": false
		},
		{
			"topic": "datalogger/log/platform/memory_percent",
			"threshold": 99,
			"message": "Memory usage ({topic}) exceeded threshold ({threshold} percent)",
			"enabled": false
		},
		{
			"topic": "datalogger/log/platform/disk_percent",
			"threshold": 97,
			"message": "Disk usage ({topic}) exceeded threshold ({threshold} percent)",
			"enabled": false
		}
	],
	"watch_min": [
	]
}
