{
    "datalogger/log/platform/cpu_percent": {
	"threshold_max": 99,
	"message": "CPU usage ({topic}) exceeded threshold ({threshold} percent)"
    },

    "datalogger/log/platform/memory_percent": {
	"threshold_max": 99,
	"message": "Memory usage ({topic}) exceeded threshold ({threshold} percent)"
    },

    "datalogger/log/platform/disk_percent": {
	"threshold_max": 97,
	"message": "Disk usage ({topic}) exceeded threshold ({threshold} percent)"
    }
}
