{
    "datalogger/log/platform/cpu_percent": {
	"threshold_max": 99,
	"message": "CPU usage ({topic}) exceeded threshold ({threshold} percent)"
    },

    "datalogger/log/platform/memory_percent": {
	"threshold_max": 99,
	"message": "Memory usage ({topic}) exceeded threshold ({threshold} percent)"
    },

    "datalogger/log/platform/disk_percent": {
	"threshold_max": 97,
	"message": "Disk usage ({topic}) exceeded threshold ({threshold} percent)"
    },
    "devices/some/device/all": {
        "point0": {
            "threshold_max": 10,
            "threshold_min": 0,
            "message": "point is out of range"
        },
        "point1": {
            "threshold_max": 42,
            "message": "point is out of range"
        }
    }
}
