{
    "driver_config": {"name": "ion6200",
                      "device_address": "127.0.0.1",
                      "port": 5020,
                      "slave_id": 1,
                      "baudrate": 9600,
                      "bytesize": 8,
                      "parity": "none",
                      "stopbits": 1,
                      "xonxoff": 0,
                      "addressing": "address",
                      "endian": "big",
                      "register_map": "config://ion6200_map.csv"},
    "driver_type": "modbus_tk",
    "registry_config":"config://ion6200.csv",
    "interval": 120,
    "timezone": "UTC"
}