{
    "driver_config": {"name": "write_single_registers",
                      "device_address": "127.0.0.1",
                      "port": 5020,
                      "slave_id": 1,
                      "baudrate": 9600,
                      "bytesize": 8,
                      "parity": "none",
                      "stopbits": 1,
                      "xonxoff": 0,
                      "addressing": "offset",
                      "endian": "big",
                      "write_multiple_registers": false,
                      "register_map": "config://write_single_registers_map.csv"},
    "driver_type": "modbus_tk",
    "registry_config":"config://write_single_registers.csv",
    "interval": 120,
    "timezone": "UTC"
}