{
    "agent": {
        "exec": "actuatoragent-0.1-py2.7.egg --config \"%c\" --sub \"%s\" --pub \"%p\""
    },
    "url": "http://localhost:8080/data",
    "lock_timeout": 3600,
    "schedule_publish_interval": 30,
    "heartbeat_interval": 30,
    "schedule_state_file": "smap_actuator_state.pickle",
    "connection-timeout": 10,
 	"points":
 	{
 
	 }
}
