[
    {
        "service_name": "Weatherbit.io",
        "api_key": "stringA",
        "base_url": " https://api.weatherbit.io/v2.0/",
        "locations": [
            {
                "City": "Raleigh",
                "State": "NC",
                "Country": "US"
            },
            {
                "City": "Davenport",
                "State": "Iowa"
            },
            {
                "City": "Paris",
                "Country": "France"
            }
        ]
    }
]