<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <style type="text/css">
        body{
            background-color: black;
            color: white;
            font-size: 14pt;
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }
        #header{
            padding-bottom: 20px;
            border-bottom: 20px;
            text-align: center;
        }
        #content{
            width: 800px;
        }

        p{
            padding-bottom:10px;
            border-bottom:10px;
        }
    </style>
    {% block js %}{% endblock %}
</head>
<body>
    <div id="header"><img height="100" id="logotag" src="/logo-tagline.png" /></div>
    <div id="top_menu">
        <ul>
            <li><a href="/admin/list_certs.html">List x509 Certificates</a></li>
            <!--<li><a href="/admin/certs/create">Create Certificate</a></li>-->
            <li><a href="/admin/pending_csrs.html">Pending CSR Requests</a></li>
            <li><a href="/admin/create_csr.html">Create CSR Request</a></li>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
