{
    "driver_config": {"device_address": "192.168.1.99",
                      "slave_id": 8,
		      "port": 502},
    "campus": "PNNL",
    "building": "DEMO",
    "unit": "M2000",
    "driver_type": "modbus",
    "registry_config":"/home/volttron/volttron/demo/modbus_configs/m2000_rtu.csv",
    "interval": 30,
    "timezone": "Pacific"
}
