{
    "mesaagent_id": "mesaagent",
    # The point configuration can be defined here by the test agent, or the test agent
    # can rely on the DNP3 driver's config (e.g. dnp3.csv). If a point configuration is
    # defined here, and the test agent is started after the MasterDriverAgent, the test
    # agent's point config will override the DNP3 driver config.
    # "point_config": {
    #     "DCHD.WTgt": {"group": 41, "index": 65},
    #     "DCHD.WinTms": {"group": 41, "index": 66},
    #     "DCHD.RmpTms": {"group": 41, "index": 67},
    #     "DCHD.RevtTms": {"group": 41, "index": 68},
    #     "DCHD.RmpUpRte": {"group": 41, "index": 69},
    #     "DCHD.RmpDnRte": {"group": 41, "index": 70},
    #     "DCHD.ChaRmpUpRte": {"group": 41, "index": 71},
    #     "DCHD.ChaRmpDnRte": {"group": 41, "index": 72},
    #     "DCHD.ModPrty": {"group": 41, "index": 9},
    #     "DCHD.VArAct": {"group": 41, "index": 10},
    #     "DCHD.ModEna": {"group": 12, "index": 5}
    # },
    "point_topic": "mesa/point",
    "function_topic": "mesa/function",
    "outstation_status_topic": "mesa/outstation_status"
}
