{
    "driver_config": {
        "ip_address": "YOUR IP ADDRESS",
        "access_token": "YOUR ACCESS TOKEN",
        "volttron_topic": "devices/ha/all",
        "port": "YOUR PORT"
    },
    "driver_type": "home_assistant",
    "registry_config":"config://home_assistant_registers.json",
    "interval": 30,
    "timezone": "UTC"
}