{
    "driver_config": {
        "ip_address": "YOURIP",
        "access_token": "ACCESS_TOKEN",
        "volttron_topic": "devices/ha/all",
        "points_to_grab_from_topic": ["EKG", "EKG_Cos"],
        "port": "port"
    },
    "driver_type": "home_assistant",
    "registry_config":"config://home_assistant_registers.json",
    "interval": 30,
    "timezone": "UTC"
}