{
    #This configuration is now obsolete.
    #It is included for historical purposes.
    #This file (after paths are fixed for your particular environment) can be automatically
    #converted and uploaded to the config store with scripts/update_platform_driver_config.py

    "driver_config": {"device_address": "10.0.0.1",
    				  "device_id": 500},
    "campus": "PNNL",
    "building": "building",
    "unit": "bacnet1",
    "driver_type": "bacnet",
    "registry_config":"/home/volttron/volttron/examples/configurations/drivers/bacnet.csv",
    "interval": 	0,
    "timezone": "UTC"
}
