{
    #This configuration is now obsolete.
    #It is included for historical purposes.
    #This file (after paths are fixed for your particular environment) can be automatically
    #converted and uploaded to the config store with scripts/update_platform_driver_config.py

    "driver_config": {},
    "campus": "MyFakeCampus",
    "building": "SomeBuilding",
    "unit": "myfakedevice",
    "driver_type": "fakedriver",
    "registry_config":"/home/volttron/volttron/examples/configurations/drivers/fake.csv",
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}
