{
    #This configuration is now obsolete.
    #It is included for historical purposes.
    #This file (after paths are fixed for your particular environment) can be automatically
    #converted and uploaded to the config store with scripts/update_platform_driver_config.py

    "driver_config": {"device_address": "10.0.0.3"},
    "campus": "campus",
    "building": "building",
    "unit": "MODBUS1",
    "driver_type": "modbus",
    "registry_config":"/home/volttron/volttron/examples/configurations/drivers/catalyst371.csv",
    "interval": 10,
    "timezone": "UTC"
}
