{    # basetopic can be devices, analysis, or custom base topic
    "basetopic": "devices",
    "publisherid": "PUBLISHER",
    "maintain_timestamp": 1,

    # Declare standard topic format that identifies campus, building,
    # device (unit), and subdevices (subdevices are optional)
    "campus": "2400_STEVENS",
    "building": "PNNL",
    "unit": {
            "HEATER1": {
                "subdevices": []
            },
            "HEATER2": {
                "subdevices": []
            },
            "HEATER3": {
                "subdevices": []
            }
        },
    "unittype_map": {
        "statussetpoint": "On/Off"
    },
    # If a custom topic is desired the entire topic must be configured.
    # e.g., "custom_topic": 'custom/topic/configuration'
    # "custom_topic":
    "input_file": "/home/volttron/git/volttron/examples/DataPublisher/datapublisher/sample_data/waterheater_sample_data.csv",
    # Publish interval in seconds
    "publish_interval": 1,

    # Tell the playback to maintain the location in the file if playback stops
    # before the file ends.
    # default 0
    "remember_playback": 1,

    # Start playback from 0 even though remember playback may be set.
    # default 0
    "reset_playback": 0

}
