{    # basetopic can be devices, analysis, or custom base topic
    "basetopic": "devices",
    "publisherid": "PUBLISHER",
    "maintain_timestamp": true,

    # Declare standard topic format that identifies campus, building,
    # device (unit), and subdevices (subdevices are optional)
    "campus": "campus1",
    "building": "building1",
    "unit": {
            "HP4": {
                "subdevices": []
            },
            "HP5": {
                "subdevices": []
            },
            "HP6": {
                "subdevices": []
            },
           "HP7": {
                "subdevices": []
            },
            "WBElectric": {
                "subdevices": []
            }
        },
    # If a custom topic is desired the entire topic must be configured.
    # e.g., "custom_topic": 'custom/topic/configuration'
    # "custom_topic":
    "input_file": "ILC_data.csv",
    # Publish interval in seconds
    "publish_interval": 2
}
