{    # basetopic can be devices, analysis, or custom base topic
    "basetopic": "devices",
    "publisherid": "PUBLISHER",

    # Declare standard topic format that identifies campus, building,
    # device (unit), and subdevices (subdevices are optional)
    "campus": "campus1",
    "building": "building1",
    "unit": "rtu4",
    # If a custom topic is desired the entire topic must be configured.
    # e.g., "custom_topic": 'custom/topic/configuration'
    # "custom_topic":
    "input_file": "examples/DataPublisher/datapublisher/sample_data/oae_sample_data.csv",
    # Publish interval in seconds
    "publish_interval": 5
}
