{
    # If has_timestamp is set then the timestamp is assumed to be in the first
    # column of the file.
    #  
    # Defaults to 1. 
    #"has_timestamp": 1,
    
    # Only valid if hast_timestamp is set to true.  Will use the timestamp in
    # the first column of the datafile as the timestamp published on the bus.
    #
    # Default 0 
    "maintain_timestamp": 1,
    
    # basetopic can be devices, analysis, or custom base topic
    "basetopic": "devices",
    "publisherid": "Replay Publisher",
    "campus": "campus1",
    "building": "building1",
    "unit": {
            "rtu4": {
                "subdevices": []
            },
            "rtu5": {
                "subdevices": [
                    "VAV13111", "VAV13112",
                    "FCU13258", "FCU13259"
            ]
        }
    },
    # If a custom topic is desired the entire topic must be configured.
    # e.g., "custom_topic": 'custom/topic/configuration'
    #"custom_topic": "device",
    
    # The input file for where the comma delimited data is found.
    "input_file": "/path/to/csv/file/with/data.csv",
    
    # Publish interval in seconds
    "publish_interval": 1
    
    # Use a topic column in the replay
    #

    # The application will append the topic in this column to the basetopic
    # if this is specified.
    #
    # Default empty string
    # "topic_column": "",
    #"topic_column": "zone_temp",
    
    # Replay data rather than stopping after the data is completed.
    # Defaults to false
    # "replay_data": false
    # "replay_data": true
}