{
    "driver_config": {"device_address": "130.20.24.148",
                      "slave_id": 8,
		              "port": 502},
    "campus": "PNNL",
    "building": "DEMO",
    "unit": "M2000",
    "driver_type": "modbus",
    "registry_config":"config://m2000_rtu.csv",
    "interval": 5,
    "timezone": "Pacific"
}
