{
    "building-publish-address": "tcp://0.0.0.0:12201",
    "building-subscribe-address": "tcp://0.0.0.0:12202",
    "uuid": "MultiBuildingService",
    "hosts": {
        "campus/platform1": {
            "pub": "tcp://127.0.0.1:12201",
            "sub": "tcp://127.0.0.1:12202"
        },
        "campus/platform2": {
            "pub": "tcp://y.y.y.y:12201",
            "sub": "tcp://y.y.y.y:12202"
        }
    }
}