{
    "driver_config": {"shared_object":"path/to/shared/object"},
    "campus": "campus",
    "building": "building",
    "unit": "c_device",
    "driver_type": "cdriver",
    "registry_config":"path/to/cdriver.csv",
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}