{
        "device_list": [
            "PNNL/DEMO/M2000"
            #"PNNL/SEB/AHU1/VAV127A",
            #"PNNL/SEB/AHU1/VAV100",
            #"PNNL/SEB/AHU1/VAV102",
            #"PNNL/SEB/AHU1/VAV143"
        ],
        "point_list": {
                       #"ZoneTemperatureSetPoint": 70.0,
                       "CoolOverride1": true
                       #"ZoneHeatingTemperatureSetPoint": 1.0
                       #"ZoneAirFlowSetPointOffset": 0
                       #"TerminalBoxDamperCommand": 55.0
                       #"TerminalBoxReheatValveCommand": 5
        }
}
