{
    "driver_config": {"device_address": "130.20.116.13",
    				  "proxy_address": "9f18c8d7-ec4b-4674-ad49-e7d0d3328f99"},
    "campus": "campus",
    "building": "building",
    "unit": "bacnet1",
    "driver_type": "bacnet",
    "registry_config":"/home/kyle/workspaces/volttron/volttron/drivers/bacnet_lab.csv",
    "interval": 5,
    "timezone": "UTC"
}