{

    "agentid": "forwarder",
    "destination-vip": "tcp://192.168.1.200:22916?serverkey=ptl8MYidowDM6tbphFKXqO8hRjWmNRoim1QC4jcgqCY&publickey=tqIqiE5t5SPCldLdMSJrklI0qAtZLhHKilXp2_ac2FI&secretkey=El__TFIoyHJYFIiPTlD-NsIpYzh2KjYfFTj5rpcGFb8",
    "custom_topic_list": [],   
    "services_topic_list": [
        "devices", "analysis", "record", "datalogger", "actuators"
    ],
    "topic_replace_list": [
	    #{"from": "FromString", "to": "ToString"}
    ]
}
