body {
    font: 12px/18px "Menlo", "Monaco", "Consolas", monospace;
}

pre {
    font-family: "Menlo", "Monaco", "Consolas", monospace;
}

th {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 0 8px;
    line-height: 2.5em;
}

th:not(:first-child),
td:not(:first-child) {
    border-left: 1px solid #ddd;
}

.button {
    background-color: #69b;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    transition: all 0.05s linear;
    border: none;
    border-radius: 4px;
    height: 24px;
    padding: 0 8px;
    outline: none;
}

.button:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.button:disabled {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
}

.platform-manager {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main {
    position: relative;
    height: 50%;
}

.platform-manager--console-hidden .main {
    height: 100%;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 600px;
    margin: -75px 0 0 -300px;
    text-align: center;
}

.login-form input {
    display: block;
    box-sizing: border-box;
    width: 200px;
    margin: 6px auto;
    line-height: 24px;
    text-align: center;
}

.login-form .error {
    text-align: center;
    color: #e11;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 2;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    clear: both;
}

.navigation h1 {
    float: left;
    margin: 0 0 0 20px;
    line-height: 40px;
}

.navigation button {
    float: right;
    margin: 8px 20px 8px 0;
}

.home {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    overflow: auto;
}

.toggle {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    border-radius: 0 0 4px 4px;
}

.platform-manager--console-hidden .toggle {
    top: auto;
    bottom: 0;
    border-radius: 4px 4px 0 0;
}

.console {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    overflow: hidden;
}

.console:after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    height: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.conversation {
    position: absolute;
    top: 0;
    bottom: 90px;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: #ddd;
}

.exchange {
    margin: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.exchange pre {
    margin: 0;
}

.time {
    float: right;
    opacity: 0.54;
}

.request,
.response {
    padding: 8px;
}

.request {
    border-radius: 4px 4px 0 0;
    background-color: #fff;
}

.response {
    border-radius: 0 0 4px 4px;
    background-color: #cef;
}

.response--pending {
    background-color: #ffc;
}

.response--error {
    background-color: #fcc;
}

.composer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.composer textarea {
    height: 100%;
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
}

.composer .button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0;
}
