{
    "driver_config": {"name": "watts_on",
                      "device_address": "/dev/tty.usbserial-AL00IEEY",
                      "port": 0,
                      "slave_id": 1,
                      "baudrate": 115200,
                      "bytesize": 8,
                      "parity": "none",
                      "stopbits": 1,
                      "xonxoff": 0,
                      "addressing": "offset",
                      "endian": "big",
                      "register_map": "config://watts_on_map.csv"},
    "driver_type": "modbus_tk",
    "registry_config": "config://watts_on.csv",
    "interval": 120,
    "timezone": "UTC"
}