{
    "agentid": "openeishistorian",
    "connection": {
        "type": "openeis",
        "params": {
            # The server that is running openeis
            # the rest path for the dataset is dataset/append/{id}
            # and will be populated from the topic_dataset list below.  
            "uri": "http://localhost:8000",
            "login_path": "/api/account/login",
            
            # Openeis requires a username/password combination in order to
            # login to the site via rest or the ui.
            # 
            # TODO allow an authentication token instead of username/password
            #
            "login": "volttron",
            "password": "volttron"
        }
    },
    # All datasets that are going to be recorded by this historian need to be
    # defined here.
    # 
    # A dataset definition consists of the following parts
    #    "ds1": {       // meta data record of where the data comes from.
    #        "id": 1,   // The dataset id that was created in openeis
    #        "points":  // An ordered list of points that are to be posted to
    #                   // openeis. 
    #        [
    #            "rtu4/OutsideAirTemp"
    #        ]
    #    },
    "dataset_definitions": {
        "ds1": {
            "dataset_id": 1,
            "points": [
                {"campus1/building1/OutsideAirTemp": "campus1/building1/OutdoorAirTemperature"}
            ]
        }
    }
}
