{
    "driver_config": {
        "device_address": "192.168.100.98",
        "address": "http://192.168.100.98/cgi-bin/post_manager",
        "username": "cloud IF",
        "password": "I/N number",
        "macid": "MAC address"
    },
    "driver_type": "rainforesteagle",
    "registry_config": "config://registry_configs/rainforest_eagle",
    "interval": 300,
    "heart_beat_point": "heartbeat",
    "group": 0
}