{
    "driver_config": {"API_KEY":"<api_key>",
                      "DEVICE_ID": <device serial number>,
                      "GROUP_ID": "test",
                      "CACHE_IDENTITY": "platform.drivercache"},
    "driver_type": "ecobee",
    "registry_config":"config://ecobee.csv",
    "interval": 180,
    "timezone": "UTC"
}
