{
    "driver_config": {"ACCESS_TOKEN": "",
                      "API_KEY":"",
                      "REFRESH_TOKEN":"",
                      "AUTHORIZATION_CODE":"",
                      "PIN": "",
                      "DEVICE_ID": -1,
                      "GROUP_ID": "ecobee1",
                      "PROXY_IDENTITY": "platform.drivercache",
                      "config_name": "devices/ecobee"},
    "driver_type": "ecobee",
    "registry_config":"config://ecobee.csv",
    "interval": 180,
    "timezone": "UTC"
}
