{
    "driver_config": {},
    "campus": "MyFakeCampus",
    "building": "SomeBuilding",
    "unit": "MyFakeDevice",
    "driver_type": "fakedriver",
    "registry_config":"/home/volttron/volttron/examples/configurations/drivers/fake.csv",
    "interval": 5,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}