{
    "driver_config": {"master_ip": "0.0.0.0", "outstation_ip": "127.0.0.1",
        "master_id": 2, "outstation_id": 1,
        "port":  20000},
    "registry_config":"config://udd-Dnp3.csv",
		"driver_type": "udd_dnp3",
    "interval": 5,
    "timezone": "UTC",
    "campus": "campus-vm",
    "building": "building-vm",
    "unit": "Dnp3",
		"publish_depth_first_all": true,
    "heart_beat_point": "random_bool"
}
