{
    "driver_config": {
        "tty": "ttyACM0",
        "emu_library_path": "/path/to/Emu-Serial-API"
    },
    "campus": "campus",
    "building": "building",
    "unit": "emu2",
    "driver_type": "rainforestemu2",
    "registry_config": "config://emu2.json",
    "interval": 60,
    "timezone": "US/Pacific"
}
