{
    "driver_config": {
        "sfdi": "111576577659",
        "IEEE2030_5_agent_id": "IEEE2030_5agent"
    },
    "campus": "campus",
    "building": "building",
    "unit": "IEEE2030_5",
    "driver_type": "IEEE2030_5",
    "registry_config": "config://IEEE2030_5.csv",
    "interval": 15,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}
