bacpypes==0.13.8
enum34==1.1.6
funcsigs==1.0.2
monotonic==1.2
pbr==1.10.0
py==1.4.31
pymodbus==1.2.0
pyserial==3.1.1
python-dateutil==2.5.3
pytz==2016.6.1
pyzmq==15.4.0
requests==2.11.1
simplejson==3.8.2
six==1.10.0
Twisted==16.4.1
ujson==1.35
zope.interface==4.3.2
tzlocal
mock
gevent
greenlet
zmq
ply
psutil
pymongo
mysql-connector-python-rf
ws4py
paho-mqtt
