sphinx==5.1.1
sphinx-rtd-theme==1.0.0
m2r2==0.3.2
sphinxcontrib-mermaid
bacpypes
enum34
funcsigs
monotonic
pbr
pymodbus
pyserial
python-dateutil
pytz
pyzmq
grequests
requests
simplejson
six
Twisted
ujson
zope.interface
tzlocal
mock
gevent
greenlet
zmq
ply
psutil
ws4py
Jinja2==3.1.2
PyYaml
